
.tickY{
	stroke: black;
}

.task-bar {
	fill: #0076b8;
}

.task-progress-bar {
	fill: #45b649;
}

.task-bar:hover {
	fill: #0076b8;
	stroke: #0076b8;
}

.task-label {
	fill: black;
}

.milestone-mark {
	stroke: #0076b8;
	fill: #0076b8;
	stroke-width: 2;
}

.milestone-label {
	fill: black;
}

.dateline-line {
	stroke: blue;
	stroke-width: 1;
}

.dateline-label{
	fill: grey;
}

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
	width:100%;
}

.xaxis-group path,.xaxis-group line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
