.deployment-staging {

}

.deployment-production {

}

.planned-bar {
	fill: #4A789C;
}


.planned-bar:hover {
	fill: #8DB8D1;
	stroke: #164A6A;
}

.planned-label {
	fill: #FCFEFD;
}



.estimated-bar{
	fill: #85C1F5;
}
.estimated-bar:hover{
	fill: #8DD6B9;
	stroke: #15714C;
}
.estimated-progress-bar{
	fill: #73B6D0;
}
.estimated-label {
	fill: #FCFEFD;
}


.executed-bar{
	fill: #E96D63;
}
.executed-bar:hover{
	fill: #6AD0BF;
	stroke: #066858;
}
.executed-progress-bar{
	fill: #28786B;
}
.executed-label {
	fill: #FCFEFD;
}



.deployment-production-mark {
	stroke: #F76100;
	stroke-width: 3;
}

.deployment-production-label {
	fill: #033B68;
}

.deployment-staging-mark {
	stroke: #F7B000;
	stroke-width: 3;
}

.deployment-staging-label {
	fill: #033B68;
}



.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}


.xaxis-group path,.xaxis-group line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

