.deployment-staging {

}

.deployment-production {

}

.planned-bar {
	fill: #205F74;
}


.planned-bar:hover {
	fill: #38A7CC;
	stroke: #164A6A;
}

.planned-label {
	fill: #FCFEFD;
}



.estimated-bar{
	fill: #38A7CC;
}
.estimated-bar:hover{
	fill: #5FB1CC;
	stroke: #024C65;
}
.estimated-progress-bar{
	fill: #06759A;
}
.estimated-label {
	fill: #FCFEFD;
}


.executed-bar{
	fill: #F77F00;
}
.executed-bar:hover{
	fill: #FBB770;
	stroke: #A25300;
}
.executed-progress-bar{
	fill: #28786B;
}
.executed-label {
	fill: #FCFEFD;
}



.deployment-production-mark {
	stroke: #F76100;
	stroke-width: 4;
}

.deployment-production-label {
	fill: #033B68;
}

.deployment-staging-mark {
	stroke: #F7B000;
	stroke-width: 4;
}

.deployment-staging-label {
	fill: #033B68;
}


/**************/
/*  DATELINE  */
/**************/

.dateline-line {
	stroke: red;
	stroke-width: 2;
}

.dateline-label{
	fill: grey;
}

/***********/
/*  CHART  */
/***********/

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}


.xaxis-group path,.xaxis-group line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

